<div class="overlay" (click)="close()"></div>

<div class="bottom-modal animate-slide-up">
  <button class="close-btn" (click)="close()">✕</button>

  <div class="modal-header">
    <span class="small-logo px-10"></span>
    <h2>Regístrate para participar</h2>
    <p>Estás a un paso de unirte a la conversación.</p>
  </div>

  <button class="instagram-btn">
    <img
      src="../../../assets/icon/icon-384x384-no-background.png"
      class="ig-icon"
    />
    Quiero crear una cuenta
    <span class="arrow">›</span>
  </button>
</div>
