<section class="h-full w-full">
    <app-social-post
      [user]="'Venga La Alegría'"
      [time]="'hace 9 horas'"
      [text]="'¡Esta mañana se puso sabrosa, mexicana y navideña con unos romeritos con mole!'"
      [images]="[
          'https://img.freepik.com/foto-gratis/fotografia-vertical-palmeras-playa-arena_181624-49124.jpg?semt=ais_hybrid&w=740&q=80',
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAKVO57q_J6qxTCMuOUlIviSWf6bA2OUZcBA&s',
          'https://img.freepik.com/foto-gratis/hermosas-palmeras-colores-vividos_23-2151591938.jpg?semt=ais_hybrid&w=740&q=80',
                 'https://img.freepik.com/foto-gratis/hermosas-palmeras-colores-vividos_23-2151591938.jpg?semt=ais_hybrid&w=740&q=80'

       ]"
      [likes]="7"
      [comments]="1"
    >
    </app-social-post>
    
    <div class="divider"></div>
    
    <app-social-post
      [user]="'Venga La Alegría'"
      [time]="'hace 9 horas'"
      [text]="'¡Esta mañana se puso sabrosa, mexicana y navideña con unos romeritos con mole!'"
      [images]="[
          'https://img.freepik.com/foto-gratis/fotografia-vertical-palmeras-playa-arena_181624-49124.jpg?semt=ais_hybrid&w=740&q=80',
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAKVO57q_J6qxTCMuOUlIviSWf6bA2OUZcBA&s',
          'https://img.freepik.com/foto-gratis/hermosas-palmeras-colores-vividos_23-2151591938.jpg?semt=ais_hybrid&w=740&q=80'
       ]"
      [likes]="7"
      [comments]="1"
    >
    </app-social-post>

</section>